APP_DOMAIN=app.example.com
NITRO_HOST=0.0.0.0
NITRO_PORT=3000
NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_xxx
NUXT_PUBLIC_API_BASE_URL=https://api.trailsense.daugt.com
NUXT_PUBLIC_CLERK_JWT_TEMPLATE=trailsense-web-user
NUXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NUXT_PUBLIC_CLERK_SIGN_UP_URL=/signup
NUXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NUXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
