@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --color-mist-50: #f8f8f7;
  --color-mist-100: #efefee;
  --color-mist-200: #e1e1de;
  --color-mist-300: #cbcbc6;
  --color-mist-400: #b0b0aa;
  --color-mist-500: #91918a;
  --color-mist-600: #76766f;
  --color-mist-700: #5e5e58;
  --color-mist-800: #474741;
  --color-mist-900: #32322e;
  --color-mist-950: #1f1f1c;

  --color-brand-50: #f5f6f1;
  --color-brand-100: #e8eadf;
  --color-brand-200: #d2d7c2;
  --color-brand-300: #b8c19f;
  --color-brand-400: #93a073;
  --color-brand-500: #6a704c;
  --color-brand-600: #585d3f;
  --color-brand-700: #454a32;
  --color-brand-800: #343925;
  --color-brand-900: #25281b;
  --color-brand-950: #161811;

  --color-green-50: #f3f6ef;
  --color-green-100: #e4ead9;
  --color-green-200: #ccd9b8;
  --color-green-300: #afc18f;
  --color-green-400: #90a86c;
  --color-green-500: #748b52;
  --color-green-600: #5f7143;
  --color-green-700: #4a5935;
  --color-green-800: #374329;
  --color-green-900: #293220;
  --color-green-950: #181f13;
}

:root {
  color-scheme: light;
  --font-inter: 'Inter', sans-serif;

  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-400);

  --ui-bg: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-bg-elevated: #fcfdfb;
  --ui-bg-accented: var(--ui-color-neutral-200);

  --ui-border: var(--ui-color-neutral-200);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);

  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-900);
}

.font-body-normal {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.font-body-small {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.font-body-tiny {
  font-family: var(--font-inter);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.font-h1 {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.font-h3 {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
