@import "tailwindcss";
@import "@nuxt/ui";

:root {
  color-scheme: light;
  --font-inter: "Inter", sans-serif;
  --sidebar-bg: #f8f8f8;
  --color-lightgrey: #ededed;
  --color-white: #ffffff;
  --color-muted: #929292;
  --color-primary: #80d7b7;
  --color-dark: #1c1c1c;
  --color-lightpurple: #e5d4fe;
  --color-mediumgrey: #d8d8d8;
}

.font-body-normal {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.font-body-small {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.font-body-tiny {
  font-family: var(--font-inter);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.font-h1 {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.font-h3 {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
